{% extends "base.html" %}{% block head %} {% block title %}<title>
  LPLVNP - Crane Construction</title
>{% endblock %}
<style>
  .reportage-title {
    background: #333;
    margin: 20px 0;
    /* text-align: center; */
    border-radius: 3px;
  }

  .reportage-title h3 {
    color: #ddd;
  }
</style>
{% endblock %} {% block body %}
<div class="north_pond_gallery">
  <div class="row text-center reportage-title ">
    <h3 class="mx-auto">Crane Construction</h3>
  </div>
  <!-- <div class="row"> -->
  <div class="card-columns">
    <div class="card">
      <img
        src="../../static/img/reportage/construction/crane/dest/ffdca3a22b114022a63c4d5c41871681.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/construction/crane/dest/229abf8827244f7daf0c9ca060299332.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card p-3">
      <img
        src="../../static/img/reportage/construction/crane/dest/293288c92b8d4502aef3659a95f62a3b.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0 card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card bg-danger p-3 text-white text-right">
      <img
        src="../../static/img/reportage/construction/crane/dest/249d10f00021490fa39b054344bdde8a.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/construction/crane/dest/245ae61132854e53bf106926272bd36c.webp"
        class="card-img-top"
        alt="Governor JB"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <img
        src="../../static/img/reportage/construction/crane/dest/ab6323534bd14245945ccb056b004d8e.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat.
        </p>
        <footer class="blockquote-footer text-white">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <img
        src="../../static/img/reportage/construction/crane/dest/163d26f664b84d3e9f2c85c38f0d5ef3.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has a regular title and short paragraphy of text below it.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/construction/crane/dest/10e3e00a42354e8696a7e75180f8eb2f.webp"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="card bg-warning text-white text-center p-3">
      <img
        src="../../static/img/reportage/construction/crane/dest/09c245c8ce0a413fa953de80f558e18b.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat.
        </p>
        <footer class="blockquote-footer text-white">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>

    <div class="card">
      <img
        src="../../static/img/reportage/construction/crane/dest/00982eaa80974640b0e235069459251b.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

{% endblock %}
