{% extends "base.html" %}{% block head %} {% block title %}<title>
  LPLVNP - Goose Guard</title
>{% endblock %}
<style>
  .reportage-title {
    background: #333;
    margin: 20px 0;
    /* text-align: center; */
    border-radius: 3px;
  }

  .reportage-title h3 {
    color: #ddd;
  }
</style>
{% endblock %} {% block body %}
<div class="north_pond_gallery">
  <div class="row text-center reportage-title ">
    <h3 class="mx-auto">Goose Guard</h3>
  </div>
  <!-- <div class="row"> -->
  <div class="card-columns">
    <div class="card">
      <img
        src="../../static/img/reportage/goose-guard/dest/0261d2550369436cb8eddc5ae3685f03.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/goose-guard/dest/26d82c0839164760b9643cdf99ba176a.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card p-3">
      <img
        src="../../static/img/reportage/goose-guard/dest/f4e26ea5264645a8bae806e400bf9eaa.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0 card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card bg-danger p-3 text-white text-right">
      <img
        src="../../static/img/reportage/goose-guard/dest/04bdba141d03418aaf3fa61b130b8d4f.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/goose-guard/dest/9b1a19e47a3f4ac8a35168306cc906ef.webp"
        class="card-img-top"
        alt="Governor JB"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <img
        src="../../static/img/reportage/goose-guard/dest/9d4137f714e4443c9d577024409959f7.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat.
        </p>
        <footer class="blockquote-footer text-white">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <img
        src="../../static/img/reportage/goose-guard/dest/8f96a4d14b5c45a081953f0655d3563d.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has a regular title and short paragraphy of text below it.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/goose-guard/dest/b2ac1df922184f9cb765a8b94821f72d.webp"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="card bg-warning text-white text-center p-3">
      <img
        src="../../static/img/reportage/goose-guard/dest/e1a8e6811e844db79c0ab12e6bc4ca54.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat.
        </p>
        <footer class="blockquote-footer text-white">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>

    <div class="card">
      <img
        src="../../static/img/reportage/goose-guard/dest/f0a215603d224626b348a29e43239d5b.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

{% endblock %}
