{% extends "base.html" %}{% block head %} {% block title %}<title>
  LPLVNP - Bourgeois Pig Gallery</title
>{% endblock %}
<style>
  .reportage-title {
    background: #333;
    margin: 20px 0;
    /* text-align: center; */
    border-radius: 3px;
  }

  .reportage-title h3 {
    color: #ddd;
  }
</style>
{% endblock %} {% block body %}
<div class="bourgeois-pig-gallery">
  <div class="row text-center reportage-title ">
    <h3 class="mx-auto">Governor JB</h3>
  </div>
  <!-- <div class="row"> -->
  <div class="card-columns">
    <div class="card bg-warning p-3 text-right">
      <img
        src="../../static/img/reportage/govjb/dest/3b2a9498bf3c4e75b23461f31f36eabe.jpg"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/govjb/dest/7fcc6d928e3443f8a7dfd5af6552b2c4.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/govjb/dest/055d7f8d2bfb4e7aa24b6c0fb24b2fca.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card p-3">
      <img
        src="../../static/img/reportage/govjb/dest/6ed7f136dd5c4d72bfeec1e7396c76bb.jpg"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0 card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/govjb/dest/6c7e7febd66147ef9ebecf3d8ccb79e0.jpg"
        class="card-img-top"
        alt="Governor JB"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <img
        src="../../static/img/reportage/govjb/dest/69f860209ccd4a9580b4e7a06b365162.jpg"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat.
        </p>
        <footer class="blockquote-footer text-white">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <img
        src="../../static/img/reportage/govjb/dest/5f43ead39c304a4a863b85d998ff285b.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has a regular title and short paragraphy of text below it.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/govjb/dest/3b8402195ca44e3b97e76f0be5866dc4.jpg"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/govjb/dest/219f4c6d029a4a34b1a7b37adc2bc008.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

{% endblock %}
