{% extends "base.html" %}{% block head %} {% block title %}<title>
  LPLVNP - Round North Pond</title
>{% endblock %}
<style>
  .reportage-title {
    background: #333;
    margin: 20px 0;
    /* text-align: center; */
    border-radius: 3px;
  }

  .reportage-title h3 {
    color: #ddd;
  }
</style>
{% endblock %} {% block body %}
<div class="north_pond_gallery">
  <div class="row text-center reportage-title ">
    <h3 class="mx-auto">Round The North Pond</h3>
  </div>
  <!-- <div class="row"> -->
  <div class="card-columns">
    <div class="card">
      <img
        src="../../static/img/reportage/north_pond/dest/71e75ff7417646bca1c9c0af0aaca8da.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/north_pond/dest/2dd0279fb91f464ca6989dc0db280992.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card p-3 bg-success">
      <img
        src="../../static/img/reportage/north_pond/dest/dd91e2df4ac042788c6a531200062482.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0 card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card bg-danger p-3 text-white text-right">
      <img
        src="../../static/img/reportage/north_pond/dest/23d416a1e8a64a799a5dba024687ca12.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/north_pond/dest/228e94a7962c488e96120cf611caba00.webp"
        class="card-img-top"
        alt="Governor JB"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <img
        src="../../static/img/reportage/north_pond/dest/a45e16f623c64b97b7ff6ccede93b406.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat.
        </p>
        <footer class="blockquote-footer text-white">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <img
        src="../../static/img/reportage/north_pond/dest/1459abe912c44b49bf191fc1253bf1a0.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has a regular title and short paragraphy of text below it.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/north_pond/dest/0f247bb017664332af75f70f5e273942.webp"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="card bg-warning text-white text-center p-3">
      <img
        src="../../static/img/reportage/north_pond/dest/1beed0397ea4441da2f521c77923073e.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat.
        </p>
        <footer class="blockquote-footer text-white">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>

    <div class="card">
      <img
        src="../../static/img/reportage/north_pond/dest/0f01988ba56649e894b5bd475f948edc.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

{% endblock %}
