{% extends "base.html" %}{% block head %} {% block title %}<title>
  LPLVNP - Promusica</title
>{% endblock %}
<style>
  .reportage-title {
    background: #333;
    margin: 20px 0;
    /* text-align: center; */
    border-radius: 3px;
  }

  .reportage-title h3 {
    color: #ddd;
  }
</style>
{% endblock %} {% block body %}
<div class="north_pond_gallery">
  <div class="row text-center reportage-title ">
    <h3 class="mx-auto">Promusica - Audio Specialist</h3>
  </div>
  <!-- <div class="row"> -->
  <div class="card-columns">
    <div class="card">
      <img
        src="../../static/img/reportage/promusica/dest/03685610c2644774b40b05bc6931ff36.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/promusica/dest/0400b5eac87b4f26afee45e938293df1.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card p-3">
      <img
        src="../../static/img/reportage/promusica/dest/0872d401416a4df4a4a182654d43d855.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0 card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card bg-danger p-3 text-white text-right">
      <img
        src="../../static/img/reportage/promusica/dest/0a805e36322d42b8ba854f2937890817.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/promusica/dest/f2df7b213a2b4731b38b664fb616c2ea.webp"
        class="card-img-top"
        alt="Governor JB"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <img
        src="../../static/img/reportage/promusica/dest/ee8d9933ed94464294e8632674348f02.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat.
        </p>
        <footer class="blockquote-footer text-white">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <img
        src="../../static/img/reportage/promusica/dest/db787c13972a4ef08be9aeebd9f4002c.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has a regular title and short paragraphy of text below it.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../static/img/reportage/promusica/dest/3bd977ee4bab417a84d75761175ac346.webp"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="card bg-warning text-white text-center p-3">
      <img
        src="../../static/img/reportage/promusica/dest/6fd6b71e589c47f28da09f7c6cee7c4c.webp"
        class="card-img-top"
        alt="..."
      />
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat.
        </p>
        <footer class="blockquote-footer text-white">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>

    <div class="card">
      <img
        src="../../static/img/reportage/promusica/dest/8c3e6f77dda44b99bf8742ec831b155e.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is another card with title and supporting text below. This card
          has some additional content to make it slightly taller overall.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

{% endblock %}
