{% extends "base.html" %}{% block head %} {% block title %}<title>
  LPLVNP - About</title
>{% endblock %}
<style>
  .jumbotron {
    height: 80vh;
    color: #ccc;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(static/img/jetaime.jpg) no-repeat center;
    background-size: cover;
  }
</style>
{% endblock %} {% block body %}
<!-- <div class="container"> -->
<div class="jumbotron text-center mt-3">
  <h1>About LPLVNP</h1>
  <p class="text-center pt-5">
    LPLVNP is a API project that I set off to share my experience living in this
    part of Chicago for over 25 years through the lenses of my photo camera. I
    hope you will enjoy these pictures and most importantly, you will use them
    in your web or publication projects, or just show to other people a glimpse
    of life in Lincoln Park, Lakeview, and especially round the North Pond
  </p>
</div>
<!-- </div> -->

{% endblock %}
